body {
  box-sizing: border-box;
  background-color: rgb(181, 170, 157);
}

h1 {
  text-align: center;
  font-size: 100px;
}

.outer-container,
.display {
  display: flex;
  justify-content: center;
}

/* Background colours --> */
.number {
  background-color: rgb(111, 111, 111);
}

.operatorOne {
  background-color: rgb(80, 80, 80);
}

.operator {
  background-color: rgba(255, 149, 0, 0.845);
}

/* Background colours <-- */

.main-container {
  background-color: rgb(62, 58, 58);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 600px;
  width: 500px;
}

.zero {
  grid-area: 5 / 1 / 6 / 3;
}

#result {
  background-color: rgb(28, 28, 28);
  color: rgb(220, 220, 220);
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 50px;
  width: 475px;
  height: 80px;
}

.number,
.operator,
.operatorOne {
  color: rgb(220, 220, 220);
  font-size: 50px;
  cursor: pointer;
  outline: none;
}
/*
.main-container {
  border: 5px solid black;
  width: 600px;
  height: 700px;
}

.display {
  padding-top: 20px;
}

.box {
  height: 50px;
  width: 80px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}*/
