body {
  box-sizing: border-box;
  background-color: rgb(181, 170, 157);
}

.main-container {
  background-color: rgb(133, 120, 120);
}

.display,
.outer-container,
.numbers-container1,
.numbers-container2,
.numbers-container3,
.numbers-container4 {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 100px;
}

#output {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
  font-size: 50px;
  width: 350px;
  height: 80px;
}

.reset-container {
  transform: translate(40px);
}

.reset {
  color: transparent;
  background-color: transparent;
  text-shadow: 0 0 0 #000000;
  border: none;
  cursor: pointer;
  font-size: 40px;
  width: 60px;
}

.number,
.operator {
  color: transparent;
  background-color: transparent;
  text-shadow: 0 0 0 #000000;
  border: none;
  cursor: pointer;
  font-size: 40px;
  width: 20px;
}

.number:focus,
.operator {
  outline: none;
}

.main-container {
  border: 5px solid black;
  width: 600px;
  height: 700px;
}

.display {
  padding-top: 20px;
}

input[type='number'] {
  font-size: 30px;
  width: 250px;
  height: 50px;
}

.box {
  border: 5px solid black;
  height: 40px;
  width: 80px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
